[Unit]
Description={{ Description }}
After=network.target

[Service]
AmbientCapabilities=CAP_NET_BIND_SERVICE
WorkingDirectory={{ WorkingDirectory }}
User={{ service_user }}
ExecStart=/usr/bin/http-server -p 443 --proxy http://localhost:8080
Restart=always
RestartSec=3s
StartLimitBurst=0
StandardOutput=file:{{ log_path }}/{{ log_file }}

[Install]
WantedBy=multi-user.target

