[Unit]
Description={{ Description }}
After=network.target

[Service]
EnvironmentFile={{ EnvironmentFile }}
WorkingDirectory={{ WorkingDirectory }}
User={{ service_user }}

ExecStart=/usr/lib/jvm/java-16-openjdk-amd64/bin/java -jar sausage-store-{{ version }}.jar

Restart=always
RestartSec=3s
StartLimitBurst=0
StandardOutput=file:{{ log_path }}\{{ log_file }}

[Install]
WantedBy=multi-user.target
